<div class="dashboard-navbar">


  <div class="row">
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown #dropdown1="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown1.isOpen=true"  (mouseleave) ="dropdown1.isOpen=false">
            Master
          </button>
          <ul id="dropdownMaster" (mouseenter) ="dropdown1.isOpen=true"  (mouseleave) ="dropdown1.isOpen=false" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Schedule</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['subschedule']">Sub-Schedule</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['states']">States</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['districts']">Districts</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['businessExecutives']">Business Executives</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['areas']">Areas</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['bankInformation']">Bank Information</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['manufacturer']">Manufacturer</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['companyGroup']">Company Group</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['companies']">Companies</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['accountsOpenings']">Accounts Openings</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['contact']">Contacts</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['customerDiscount']">Customerwise Discount</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['purchase']">Purchase</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['product']">Product</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['productCategory']">Product Category</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['productGroup']">Product Group</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown2="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown2.isOpen=true"  (mouseleave) ="dropdown2.isOpen=false">
            Purchase
          </button>
          <ul (mouseenter) ="dropdown2.isOpen=true"  (mouseleave) ="dropdown2.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown3="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown3.isOpen=true"  (mouseleave) ="dropdown3.isOpen=false">
            Sales
          </button>
          <ul (mouseenter) ="dropdown3.isOpen=true"  (mouseleave) ="dropdown3.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown4="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown4.isOpen=true"  (mouseleave) ="dropdown4.isOpen=false">
            Inventory Reports
          </button>
          <ul (mouseenter) ="dropdown4.isOpen=true"  (mouseleave) ="dropdown4.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown5="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown5.isOpen=true"  (mouseleave) ="dropdown5.isOpen=false">
            Finance
          </button>
          <ul (mouseenter) ="dropdown5.isOpen=true"  (mouseleave) ="dropdown5.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown6="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown6.isOpen=true"  (mouseleave) ="dropdown6.isOpen=false">
            Finance Reports
          </button>
          <ul (mouseenter) ="dropdown6.isOpen=true"  (mouseleave) ="dropdown6.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown7="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown7.isOpen=true"  (mouseleave) ="dropdown7.isOpen=false">
            GST Reports
          </button>
          <ul (mouseenter) ="dropdown7.isOpen=true"  (mouseleave) ="dropdown7.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="btn-group" dropdown  #dropdown8="bs-dropdown" [autoClose]="false">
          <button id="buttonMaster" dropdownToggle type="button" class="btn btn-primary dropdown-toggle" aria-controls="dropdown-basic"  (mouseenter) ="dropdown8.isOpen=true"  (mouseleave) ="dropdown8.isOpen=false">
            Miscellaneous
          </button>
          <ul (mouseenter) ="dropdown8.isOpen=true"  (mouseleave) ="dropdown8.isOpen=false" id="dropdownMaster" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Action</a></li>
            <li role="menuitem"><a class="dropdown-item" [routerLink]="['schedule']">Another action</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
 