<div class="col-md-12">
    <div class="row">
      <div class="col-md-5">
        <h3>States </h3>
        <form [formGroup]="statesForm" (ngSubmit)="saveState()" autocomplete="off">
          <div class="row">
            <div class="error-text col-xs-12" *ngIf="formSuccess">
              <p class="text-success">{{'message.save' | translate }}</p>
            </div>
            <div class="error-text col-xs-12" *ngIf="formRequiredError">
              <p class="text-danger">{{'message.mandatory' | translate }}</p>
            </div>
            <div class="error-text col-xs-12" *ngIf="formServerError">
              <p class="text-danger">{{'message.error' | translate }}</p>
            </div>
            <div class="error-text col-xs-12" *ngIf="isduplicate">
              <p class="text-danger">Duplicate Record Exists.</p>
            </div>
          </div>

            <div class="input-group">
              <p>State Name: *</p>
              <input id="stateName" #focus [readonly]="nameFlag" class="form-control" [formControl]="statesForm.controls['stateName']">
          </div>
          <div class="input-group">
              <p>Code: *</p>
              <input id="stateCode" class="form-control" [formControl]="statesForm.controls['stateCode']">
            </div>
            <div class="input-group">
                <p>Zone: *</p>
                <input id="zone"  class="form-control" [formControl]="statesForm.controls['zone']">
              </div>

              <div class="input-group">
                <button type="button" (click)="resetForm()" class="btn btn-primary">{{'button.reset' | translate }}</button>
                <button type="submit" [disabled]="saveBtnFlag" class="btn btn-primary mr-l-10">{{'button.save' | translate }}</button>
                <button type="button" [disabled]="deleteFlag" (click)="showConfirmationModal('Delete')" class="btn btn-danger float-right">{{'button.delete' | translate }}</button>
              </div>
        </form>
      </div>

      <div class="col-md-7">
        <br /><br />

        <app-synectiks-common-grid [gridDataList]="statesList" (valueChange)='valueChange($event)' [gridColumnList]="statesListColumns"></app-synectiks-common-grid>
      </div>

    </div>

  </div>
