<header></header>
<div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6 col-xs-12 card">
  <div class="row">
    <div class="col-xs-12 header">
      <div class="col-xs-4">
        <div class="row">
          <p class="pointer">Sign In</p>
        </div>
      </div>
      <div class="col-xs-4">
            <div class="row">
              <h3>Sign Up</h3>>
            </div>
      <div class="col-xs-4 text-right">
        <div class="row">
          <p class="pointer">Forgot Password?</p>
        </div>
      </div>
    </div> <!-- header -->
    <div class="col-xs-12 card-body">
      <div class="col-xs-12">
        <div class="row">
          <!-- <form > -->
            <!-- <div class="error-text col-xs-12" *ngIf="badCredentials">
              <p class="text-danger">Invalid Username or Password!!</p>
            </div>
            <div class="error-text col-xs-12" *ngIf="formError">
              <p class="text-danger">Username and Password is mandatory!</p>
            </div> -->
            <div class="input-group">
                    <p>Username or Email:</p>
              <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
              <input id="usernameOrEmail" class="" 
                placeholder="Username or Email">
            </div>
            <div class="input-group">
                    <p>Enter Password:</p>
              <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
              <input id="password" type="text" class=""
                placeholder="Enter Password">
            </div>
            <div class="input-group">
                    <p>Confirm Password:</p>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input id="password" type="password" class="" placeholder="Confirm Password">
                  </div>
            <div class="input-group">
                    <p>Address</p>
                    <input id="address"  class="" placeholder="Address">
            </div>
            <div class="input-group">
                    <p>Town</p>
                    <input id="town"  class="" placeholder="Town">
            </div>
            <div class="input-group">
                    <p>Designation</p>
                    <input id="designation"  class="" placeholder="Designation">
            </div>
            <div class="input-group">
                    <p>Mobile</p>
                    <input id="mobile"  class="" placeholder="Mobile">
            </div>
            <div class="input-group">
                    <p>Email</p>
                    <input id="email"  class="" placeholder="Email">
            </div>
            <div class="input-group">
                    <p>User Level</p>
                    <input id="userLevel"  class="" placeholder="User Level">
            </div>
            <div class="input-group">
                    <p>Permissions</p>
                    <input id="permissions"  class="" placeholder="Permissions">
            </div>
            


            <button type="submit" class="btn btn-success">Sign Up</button>
          <!-- </form> -->
        </div>
        <div class="row line"></div>
        <div class="row">
          <div class="col-xs-12 card-footer">
            <div class="row">
            </div>
          </div>
        </div>
      </div>
    </div> <!-- card-body -->
  </div>
</div>
